# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Docker@2
  inputs:
    containerRegistry: 'redhat-registry'
    command: 'login'
- task: Docker@2
  inputs:
    containerRegistry: 'wthAcr'
    repository: 'nodejs-ex-ado'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'

- task: oc-setup@2
  inputs:
    openshiftService: 'aro-jasondel'
    version: 'v3.11.0'

- task: oc-cmd@2
  inputs:
    openshiftService: 'aro-jasondel'
    version: 'v3.11.0'
    cmd: 'oc project jason-test'

- task: oc-cmd@2
  inputs:
    openshiftService: 'aro-jasondel'
    version: 'v3.11.0'
    cmd: 'oc new-app --docker-image=wthacr.azurecr.io/nodejs-ex-ado:48'

